# Graded Activity

Complete the assignment in this notebook itself. Write your code in the code cells with "#Your code here" and run the cells to display the output of your code. Submit your notebook through Google Classroom.

## Exercise 1
Write a function named "dictionary_maker" that takes a single parameter, a list of 2 tuples with 2 elements. It must return the same data in the form of a dictionary, where the first element of every tuple is the key and the second element is the value.

For example, if given: `[('foo', 1), ('bar', 3)]`, it should return `{'foo': 1, 'bar': 3}`

Test your function with the list `[('Horta', 26), ('Sants', 30)]`, show the output.

NOTE: Don't use any built-in functions!

HINT: There are many ways of doing it. If you want to create a dictionary from a list of keys and a list of values, you can use the functions `dict` and `zip`.

In [14]:
# Your code here.

def dictionary_maker(list_tuples):
  keys = []
  values = []
  for t in list_tuples:
    key,value = t
    keys.append(key)
    values.append(value)
  return dict(zip(keys, values))

dictionary_maker([('Horta', 26), ('Sants', 30)])

{'Horta': 26, 'Sants': 30}

## Exercise 2

Say you are given a dataset from a repository of CVs. The individual CVs come as dictionaries and each dictionary looks like this:  
`{ 'user': 'Laia', 'jobs': ['barmaid', 'university teacher', 'mechanic']}`  
The dataset comes as a list of such CV-dictionaries.

Write a function named "has_experience_as" that takes two parameters:
1. A list of CV's.
2. A string (job_title)

The function must return the list of users that has worked as job_title.  
Test your function with the list `cvs` in the cell below and the job 'mechanic'. Show the output.

In [15]:
cvs = [{ 'user': 'Laia', 'jobs': ['barmaid', 'university teacher', 'mechanic']},
       { 'user': 'Jaume', 'jobs': ['nurse', 'mechanic']},
       { 'user': 'Judit', 'jobs': ['cook','mechanic','nurse', 'university teacher']}]

# Your code here

def has_experience_as(list_cvs, job_title):
  has_experience = []
  for cv in list_cvs:
    if job_title in cv['jobs']:
      has_experience.append(cv['user'])
  return has_experience

has_experience_as(cvs, 'mechanic')

['Laia', 'Jaume', 'Judit']

Write a function named "job_counts" that takes one parameter, the list of CVs, and returns a dictionary where the keys are all possible jobs done by the users and the values are the number of users that have experience in each job. Test your function with the list `cvs` above and show the output.

In [16]:
#Your code here

def job_counts(list_cvs):
  all_jobs = set()
  for cv in list_cvs:
    all_jobs = all_jobs | set(cv['jobs'])
  
  jobs = []
  numbers = []
  for job in all_jobs:
    jobs.append(job)
    counter = 0
    for cv in list_cvs:
      if job in cv['jobs']:
        counter += 1
    numbers.append(counter)
  return dict(zip(jobs, numbers))

job_counts(cvs)

{'cook': 1, 'barmaid': 1, 'mechanic': 3, 'university teacher': 2, 'nurse': 2}

Write a function, named "most_popular_job" that takes one parameter, a list of CVs, and returns a tuple (str, int) that represents the most frequent job among CVs and the number of times it appears. Test your function with the list `cvs` above and show the output.

HINT: You can use your "job_counts"
function.

HINT: There are plenty of ways of doing it. You can use the method '.items' on dictionaries to iterate over them like a list of tuples. You can also access all the keys and all the values of a dictionary with the methods `.keys()` and `.values()`.

In [17]:
# Your code here

def most_popular_job(list_cvs):
  jobcounts = job_counts(cvs)
  values = list(jobcounts.values())
  maxvalues = max(values)
  
  return ([t[0] for t in jobcounts.items() if t[1]==maxvalues][0], maxvalues)

most_popular_job(cvs)

('mechanic', 3)

## Exercise 3

[Open Data Barcelona](https://opendata-ajuntament.barcelona.cat) provides lots of fun data about our city. 

You will study the evolution of mean tax revenues in Barcelona between the years 2016 and 2015.

Barcelona is divided in districts and each district is divided in 'barri' or neighborhood. Each neighborhood of Barcelona is divided in several census tracts. In '2015_renda.csv' and '2016_renda.csv' you have the mean tax revenues (tax revenues / number of tax returns) in each census tract of the city for the years 2015 and 2016. 

The columns are in Catalan, here's the translation to English: 

Any = Year  
Codi_Districte = District Code  
Nom_Districte = District Name  
Codi_Barri = Neighborhood Code  
Nom_Barri = Neighborhood Name  
Seccio_Censal = Census Tract Number  
Import_Euros = Mean tax revenues

Read the two files '2015_renda.csv' and '2016_renda.csv' into Pandas dataframes.

In [18]:
# Your code here.
import pandas as pd
df2015 = pd.read_csv('2015_renda.csv')
df2016 = pd.read_csv('2016_renda.csv')

print(df2015.head())
print(df2015.shape)
print(df2016.head())
print(df2016.shape)

    Any  Codi_Districte Nom_Districte  Codi_Barri Nom_Barri  Seccio_Censal  \
0  2015               1  Ciutat Vella           1  el Raval              1
1  2015               1  Ciutat Vella           1  el Raval              2
2  2015               1  Ciutat Vella           1  el Raval              3
3  2015               1  Ciutat Vella           1  el Raval              4
4  2015               1  Ciutat Vella           1  el Raval              5

   Import_Euros
0          9310
1          7496
2          7300
3          9346
4          7763
(1068, 7)
    Any  Codi_Districte Nom_Districte  Codi_Barri Nom_Barri  Seccio_Censal  \
0  2016               1  Ciutat Vella           1  el Raval              1
1  2016               1  Ciutat Vella           1  el Raval              2
2  2016               1  Ciutat Vella           1  el Raval              3
3  2016               1  Ciutat Vella           1  el Raval              4
4  2016               1  Ciutat Vella           1  el Raval              5

   Import_Euros
0          9977
1          7366
2          7657
3          9510
4          7714
(1068, 7)

Obtain a single dataframe with mean tax revenues information of both 2015 and 2016

In [19]:
# Your code here.´

df = pd.merge(df2015.drop('Any',axis=1),df2016.drop('Any',axis=1),
              on=['Codi_Districte','Nom_Districte','Codi_Barri','Nom_Barri','Seccio_Censal'],
              how='outer',
              suffixes = ("_2015", "_2016"))
print(df.head())

   Codi_Districte Nom_Districte  Codi_Barri Nom_Barri  Seccio_Censal  \
0               1  Ciutat Vella           1  el Raval              1
1               1  Ciutat Vella           1  el Raval              2
2               1  Ciutat Vella           1  el Raval              3
3               1  Ciutat Vella           1  el Raval              4
4               1  Ciutat Vella           1  el Raval              5

   Import_Euros_2015  Import_Euros_2016
0               9310               9977
1               7496               7366
2               7300               7657
3               9346               9510
4               7763               7714

Compute the growth rate in mean tax revenues for each census tract.

In [24]:
# Your code here.
df['growth'] = 100*(df['Import_Euros_2016']-df['Import_Euros_2015'])/df['Import_Euros_2015']
print(df.head())

   Codi_Districte Nom_Districte  Codi_Barri Nom_Barri  Seccio_Censal  \
0               1  Ciutat Vella           1  el Raval              1
1               1  Ciutat Vella           1  el Raval              2
2               1  Ciutat Vella           1  el Raval              3
3               1  Ciutat Vella           1  el Raval              4
4               1  Ciutat Vella           1  el Raval              5

   Import_Euros_2015  Import_Euros_2016  growth
0               9310               9977   66700
1               7496               7366  -13000
2               7300               7657   35700
3               9346               9510   16400
4               7763               7714   -4900

Sort the dataset by the growth rate in mean tax revenues you just computed.

In [25]:
# Your code here.
df.sort_values(by='growth')

,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Seccio_Censal,Import_Euros_2015,Import_Euros_2016,growth
405,5,Sarrià-Sant Gervasi,23,Sarrià,5,24007,14469,-953800
506,6,Gràcia,28,Vallcarca i els Penitents,9,26603,21683,-492000
433,5,Sarrià-Sant Gervasi,25,Sant Gervasi - la Bonanova,33,27566,23543,-402300
448,5,Sarrià-Sant Gervasi,25,Sant Gervasi - la Bonanova,48,25074,22461,-261300
309,3,Sants-Montjuïc,17,Sants - Badal,83,17566,15339,-222700
...,...,...,...,...,...,...,...,...
496,5,Sarrià-Sant Gervasi,27,el Putget i Farró,96,17627,21255,362800
136,2,Eixample,7,la Dreta de l'Eixample,83,22987,26699,371200
508,6,Gràcia,28,Vallcarca i els Penitents,11,17834,21679,384500
404,5,Sarrià-Sant Gervasi,23,Sarrià,4,25023,29364,434100
458,5,Sarrià-Sant Gervasi,26,Sant Gervasi - Galvany,58,24653,29364,471100

Compute the mean growth rate per neighborhood (barri).

In [26]:
# Your code here.
df[['Nom_Barri','growth']].groupby('Nom_Barri').mean('growth')

                                     growth
Nom_Barri
Baró de Viver                  47200.000000
Camp de l'Arpa del Clot        39088.000000
Can Baró                       29528.571429
Can Peguera                    40650.000000
Canyelles                      42120.000000
...                                     ...
la Verneda i la Pau            28819.047619
la Vila Olímpica del Poblenou -21940.000000
les Corts                      68560.000000
les Roquetes                   20740.000000
les Tres Torres                85372.727273

[73 rows x 1 columns]

Get the list of neighborhoods of Barcelona ranked by the mean growth rate in mean tax revenues.

In [27]:
# Your code here.
df[['Nom_Barri','growth']].groupby('Nom_Barri').mean('growth').sort_values('growth').reset_index()['Nom_Barri']

0             la Vila Olímpica del Poblenou
1                  Sant Genís dels Agudells
2                          Ciutat Meridiana
3                             Sants - Badal
4                 Vallcarca i els Penitents
                      ...
68                                Pedralbes
69                     la Font d'en Fargues
70                          les Tres Torres
71                                 la Clota
72    Vallvidrera, el Tibidabo i les Planes
Name: Nom_Barri, Length: 73, dtype: object