# Session 1

By **Paul Rognon & Miquel Torrens i Dinarès & Maxim Fedotov**

*Barcelona School of Economics* –
*Data Science Center*

March 14th, 2023

## Getting started

### What is Python?

Python refers to both:
- A programming language.
- A program (it runs on a computer). The program's purpose is to interpret the language and convert it into instructions for a computer.

There are two major versions that are still circulating: 2 & 3. Python2 is slowly abandoned and we will be using Python3 for this course.

Python does not have a graphical interface GUI. One way to run it is from the terminal or Anaconda Prompt if you installed the Anaconda suite. You can submit Python language commands one by one through the terminal. 

Most of the time you will want to submit a series of commands (your code) and thus you will write a *script* with extension `.py`. Once you have a script, you can submit it to Python. You can write a script with any basic text editor. However it is more convenient to use an IDE (integrated development environment) such Visual Studio code, PyCharm,... For example you could write the following script:

```
message = 'Hello World!'
print(message)
```

As a alternative to scripts, one can write commands in a notebook. In class, we will be working in Google Colab to run notebooks. See the Technical requirements and an introduction to `.ipynb` notebooks document for more information on notebooks and Google Colab. 

To start Google Colab, go to https://colab.research.google.com/. Download the Jupyter notebook for this session, `session1.ipynb`. To upload `session1.ipynb` to Colab click on `File > Upload notebook` and select `session1.ipynb`.

### Google Colab

In class, we will be working in Google Colab which is a powerful online environment to create, edit and run Jupyter notebooks. It is constantly evolving and new features are added. A major advantage of Google Colab is that it executes your code on Google's cloud servers, you leverage Google's hardware (including GPUs and TPUs) instead of your machine. 



[Here](https://www.youtube.com/watch?v=inN8seMm7UI) is an introductory video about Google Colab.

The original application developed to run Jupyter notebooks is called Jupyter Notebook. Many of the features for the edition of code and display of output in Google Colab are available on the Jupyter Notebook application too. The major difference is that you will be running your code on your own machine which is likely to be less powerful than the servers used by Google Colab.

## Variables

A variable in Python has a *name* and points to an associated *memory cell* where some *value* is stored. To define a variable, we assign a value (or more generally an expression) to a chosen name by using a binary operator `=`. That is, the construction is: `name = expression`. The name of a variable is also called an *identifier*.

For example, if we want to compute the area of a rectangle with length 3 and width 5, we will create two variables with those value.

In [38]:
length = 3
width = 5.0

Note, that it is possible to *overwrite* a variable, i.e. replace a value that is assigned to a specific name.

In [39]:
length = 6  # note that it could be also a value of a different type, Python is flexible in this sense.

This is handy but whatch out you may not realize you're overwriting a variable!

### Printing

It can be useful to *print* what we are running on the console, this can be done with the built-in `print` command.

In [40]:
x = 15 / 2
print(x)

7.5

Note that Colab notebooks automatically displays the value of the last expression in the last line of a cell when you execute it, so you don't need to print that.

In [41]:
# Colab automatically prints "x" to "out" because it is the output of the last line
x = 15
x

15

In [42]:
# Here Colab does not print "x", since we are not calling "x" on the last line
x = 15
x
y = 25
y

25

In [43]:
# We need to write "print(x)" if we want to see it
x = 15
print(x)
y = 25
y

15

25

Create variables 'z' and 'zz' that take values 9 and 6, print both of them.

In [44]:
# Your code here

We may want to use placeholders to print text that has variable values in it. There are a number of ways to do that, one way is the following:

In [45]:
a = 15
b = 2
c = 2
'%i divided by %i is %.2f, and it is %s that this is greater than %i' % (a, b, a/b, (a/b) > c, c)

'15 divided by 2 is 7.50, and it is True that this is greater than 2'

We will go into what these types of objects are shortly.

### Naming a variable

There is a conventional way to spell a name to a variable which is called: *snake_case*. Which means that if a name is a combination of several words then they are split by `_`. Preferably, letters in a name should be lower case, although it is not necessary. Note that names (or identifiers) in Python are case-sensitive. Variable names cannot start with a number.

This is convention is part of **coding style**. There are different styles to writing code, but try to stick consistently to a (sensible) style guide: it is essential that the code not only works but is also understandable by everyone. That is why your code has to be commented. The "official" guide for `python` can be founde here:

* Style guide: https://www.python.org/dev/peps/pep-0008/

Rules to code properly are fairly common sense, just like those of natural language. You can make them your own (within reason), the important part is to be **consistent**.

---
## Data types and their operations

*Data types* are the type of information stored in a variable.

The basic *built-in* types you will deal with the most of the time are:

* Boolean values: 
    * <span style="color:green"> bool </span> (boolean) - is a binary variable, either `True` or `False`.
* Numeric types: 
    * <span style="color:green"> int </span> (integer)
    * <span style="color:green"> float </span> (floating-point number) - a decimal representation of a real number.
* Text sequence type: <span style="color:green"> str </span> (string) 
* The null object type: <span style="color:green"> None </span>

See more about *built-in* types [here](https://docs.python.org/3/library/stdtypes.html#)

In [46]:
my_boolean = True

my_integer = 10
my_float = 5.

my_string = "hey there"  # You can also use single-quotes "'".

my_no_value_object = None

You can find out a type of a variable with the function `type(...)`.

In [47]:
type(length)

int

Here we highlight the most important native operations you can apply to basic objects in `python`.

### Numerical values

In [48]:
# Assignment
a = 10  # 10

# Increment/Decrement
a += 1  # 11 (a = a + 1)
a -= 1  # 10 (a = a - 1)

# Operations
b = a + 1  # 11
c = a - 1  # 9

d = a * 2  # 20 
e = a / 2  # 5 
f = a % 3  # 1 (remainder)
g = a ** 2  # 100 (exponentiation)

# Operations with two variables
d = a + b  # 21

### String values

You can concatenate strings together with the `+` operator:

In [49]:
"Adding" + " " + "strings" + " " + "is" + " " + "pasting"

'Adding strings is pasting'

The built-in function `len` returns the number of characters in a string:

In [50]:
len("four")

4

### Logical or boolean values

We can evaluate the relationships between different types of data in `python`. The output of such comparisons/operations are boolean variables. Some examples:

In [51]:
# Comparing numbers
x = (1 >= 2)  # greater or equal? False
y = (1 == 2)  # equal? False
w = (1 != 2)  # different? True

# Comparing strings
a = 'mystring'
b = (a == 'myotherstring') # equal? False

# Combining boolean values
# Parentheses are not required, but they help readability
x = (1 <= 2) and (1 > 0)  # both statements are true so 'x' is True
y = (1 >  2) or  (1 < 3)  # at least one statement is true so 'y' is True

# It is good practice to use "is" instead of == for checking for NoneType and booleans:
x = None
y = x is None
z = x is not None
zz = b is False
print(y)
print(z)
print(zz)

True
False
True

### Type conversion
There are functions that convert a variable to another type. It works only if the provided variable is convertible to the suggested type. The functions that are used for explicit type conversion are the same as type names.

In [54]:
initial_integer = 5
integer_to_float = float(initial_integer) # returns a float
float_to_string = str(integer_to_float) # returns a string
string_to_float = float(float_to_string) # returns float
float_to_integer = int(string_to_float) # returns an int

Can you convert `float_to_string` to integer?

In [55]:
# try here

There is also an *implicit type conversion* in Python. There are several numeric examples: 
* the result of an operation between a float and an integer is a float,
* Boolean values `True` and `False` in numerical expressions are implicitly converted to 1 and 0 respectively.

In [56]:
print(type(4.1 + 5))
print(type(5 // 2.5))
print(True * 5 + False * -1)

<class 'float'>
<class 'float'>
5

## Some basic data structures

Data structures contain ordered collection of objects. They have some *methods* associated to them.

### Lists

Lists are one of the simplest multi-value objects. They are created with square brackets:

In [57]:
a_list = ["This", "is", "a", "list", "of", "strings"]

Here you can see we created a list of strings. We can also create a list of integers:

In [58]:
num_list = [1, 5, 10]

Lists in `python` need not be homogenous, you can mix object types:

In [59]:
mix_list = ['a', 'b', 1, 2, 3, True, None]

Sometimes you want to access individual elements from a list. You can do this using square brackets together with the index of the element:

In [60]:
mix_list[0]  # first element

'a'

Notice that the first element is indexed at `0`, the second element at `1`, and so on. You can also access a contiguous range of elements:

In [61]:
mix_list[1:3]  # second item (index 1) and third item (index 2) only!

['b', 1]

You can also use negative indices to access items from the end. For example, the last item:

In [62]:
print(num_list[-1])
print(num_list[-2])

10
5

You can concatenate multiple lists together with the operator `+`:

In [63]:
num_list + [40, 50, 60]

[1, 5, 10, 40, 50, 60]

And you can check for membership with the operator `in`:

In [64]:
"abc" in ["abc", "def", "ghi"]

True

Lists are mutable. You can change values of lists by using an assignment expression of the following form:  
`list_identifier[index or slice] = new_value`

In [65]:
# Change the first element of num_list to 0.180


# Change any of the entries of mix_list

Two methods for a list are `append` and `pop` to add and remove an element to a list.

In [66]:
queue = ["Bob", "Janine", "John", "Anastasia"]
queue.append("Alice") 
print(queue)
queue.pop(0)
queue

['Bob', 'Janine', 'John', 'Anastasia', 'Alice']

['Janine', 'John', 'Anastasia', 'Alice']

### Tuples

Tuples are created with parenthesis:

In [67]:
x = ("foo", 1)

But can also be created without any parenthesis, implied by the comma:

In [68]:
x = "foo", 1

Elements in the tuple are also accessed via the index (like lists).

In [69]:
x[0]

'foo'

Tuples are immutable.

In [70]:
x[0]='foo2'

TypeError: 'tuple' object does not support item assignment

Lists can be used in most of the places where tuple is used, so it can be confusing what the difference is between the two. Besides technicalities, the following rules can help you decide when to use a tuple and when to use a list:

* `list`: many elements (potentially), unknown number, relatively homogenous, mutable.
* `tuple`: few elements, fixed number, completely heterogeneous, immutable (fixed).

The name comes from here: double, triple, quadruple... This hints that they should be of fixed length.

An interesting property of tuples is destructuring:

In [71]:
name,num = x

Now the variable `name` contains the value `"foo"` and the variable `num` contains the value `1`.

### Dictionaries

Dictionaries are another basic type in `python`. They are *associative* data structures. Like a standard dictionary, Python dictionaries associate a `KEY` with a `VALUE` and are created with the `{`, `}` operators:

In [72]:
player = {"name": "Jane", "score": 10000}

You can access the value via the *key* and set its value:

In [73]:
print(player["name"])
player["name"] = "Jane Smith"
print(player["name"])

Jane
Jane Smith

Each key can only have one value. In the above example, we have overwritten the original `"name"`-key with a new value.

Create a list whose elements are of type dictionary:

In [74]:
# Each element on the list is a player, and each player has three attributes.
players = [{"name": "John", "score": 100, "likes": ["R"]},
           {"name": "Jane", "score": 10000, "likes": ["python"]},
           {"name": "Stephen", "score": 55, "likes": ["julia"]}]
print(players[0])

# We can fetch elements of the dictionary
print(players[0]['name'])
print(players[0].get('name'))

{'name': 'John', 'score': 100, 'likes': ['R']}
John
John

### Sets

Sets store unordered collections of unique values. Sets are typically used when checking whether a value of a variable belongs to a specific set of values, or when performing set operations (like intersection, union, set difference and so on).

Examples of set operations are:

In [75]:
users_donating = ["Foo", "Lu", "Gru"]  # suppose that these are regularly donating users of your application
users_active = ["Bro", "Lu", "Gru"]  # these are the most active users

print("Difference:", set(users_donating) - set(users_active))  # note that order matters
print("Intersection:", set(users_donating) & set(users_active))
print("Union:", set(users_donating) | set(users_active)) 
print("Symmetric difference:", set(users_donating) ^ set(users_active))

Difference: {'Foo'}
Intersection: {'Gru', 'Lu'}
Union: {'Bro', 'Lu', 'Gru', 'Foo'}
Symmetric difference: {'Foo', 'Bro'}

You can modify a set.

In [76]:
names = {'Gru', 'Foo', 'Lu'}
names.add('Bro')
names

{'Bro', 'Foo', 'Gru', 'Lu'}

## Properties of an object: instances, attributes and methods

Objects in Python have *classes*. You can access it by using the function `type()`. For example:

In [77]:
new_list = [1, 2, 3]  # Create a list
type(new_list)

list

`new_list` is an ***instance*** of the class `list`. Instances can have ***attributes***. These attributes are properties that are attached to the instance. They can also be functions defined for the instances of the class. They are accessed with dot notation.

You can create new classes:

In [78]:
# I define my own class: custom types
class invented_class:
    name = "John" # attribute 'name'
    score = 100 # attribute 'score'
    def show(self): # function attribute 'show'
        print (self.name) 
        print (self.score) 
 
# Create an object of this new class
new_obj = invented_class()
print(type(new_obj))
print(new_obj.score)
new_obj.show()

<class '__main__.invented_class'>
100
John
100

Here `new_obj` is an instance of the class `invented_class`, and it has attributes `name` and `score`.

If the attribute happens to be a function, we call it a ***method***. Methods are functions that have a special purpose: they interact with the instance itself in some way.

---
## Iterables and control flow

### Control flow

Sometimes you may want to do an operation only if the object satisfies some condition. In these cases we use `if`-statement operations.

In [79]:
gender = "male"
age = 20 

# Start of if-statement
if gender == "female":
    if age > 18:
        print("woman")
    else: 
        print("girl")
elif gender == "male":
    if age > 18:
        print("man")
    else: 
        print("boy")
else:
    print("non-binary")

man

Again, the structure of an `if`-statement is always the same, so it is essential that we use it correctly

```
## NOT RUN
if BOOLEAN:  # Use: "if", ":" and supply a boolean condition
    ACTION1a  # Indent with 4 spaces
    ACTION1b
elif BOOLEAN:  # Second layer to "if" (else-if)
    ACTION2
else:  # Rest of scenarios (make sure all contingencies are covered)
    ACTION3

## END NOT RUN
```

Respecting indentation is mandatory.

### Iteration over elements of an object (`for`-loops)

You may want to perform an operation for each element in an *iterable* object, and (possibly) store the result of such operation. We do that by *looping* over this object operating on every of its elements sequentially.

In [80]:
vector = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared = []
for num in vector:
    squared_num = num ** 2
    squared = squared + [squared_num]

squared

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

The structure of the loop is always the same and must be respected: 

```
## DO NOT RUN
for ELEMENT in EXISTING_OBJECT:  # Use "for", "in" and ":"
    operation_on(ELEMENT)  # Indent 4 spaces (MANDATORY)

# Loop ENDS when indentation is over
## END DO NOT RUN
```

`for`-loops are applicable to every instance of an iterable object class: `list`, `tuple`, `dictionary`.

**Break and continue**

There are two keywords that will help you work with for loops: `break` and `continue`.

* `break` stops the loop right at the place it was reached.
* `continue` makes the loop stop at the current iteration without executing any code further and moves to the next iteration.

Suppose there a drink that bears 370 kilocalories per liter and that you want to compute the number of calories for portions of the drink that are positive only. In addition, you do not want to calculate calories for portions greater that 330 ml. You could use the following construction:

In [81]:
kilocalories_drink = 370
typical_cup_volumes = [0, 0.18, 0.33, 0.5, 1]

kilocalories_portions = []                                                 
                                                   
for volume in typical_cup_volumes:
    if 0 < volume <= 0.33:
        calories = volume * kilocalories_drink
        kilocalories_portions.append(calories)
        print(f"There are {calories:.1f} calories in {volume * 1000:n} ml. of the drink")
    elif volume > 0.33:
        break
    else:
        continue

There are 66.6 calories in 180 ml. of the drink
There are 122.1 calories in 330 ml. of the drink

### Map, reduce and filter operations on lists

There are three main operations we perform on a list:
1. *reduce* operation: we retrieve some useful information (e.g. some statistic) from a list, i.e. we reduce it to one particular number
2. *map* operation: we apply a function to each element
3. *filter* operation: we select elements

We illustrate these with some examples.

In [82]:
# 1. REDUCE
# Summing the numbers in a list: 
nums = [30, 1, 4, 3, 10.5, 100]
total = 0 
for num in nums:
    total += num
    
print(total)

148.5

In [83]:
# 2. MAP 
# Squaring each number in a list
nums = [30, 1, 4, 3, 10.5, 100]

# This is called a "list comprehension"
# and is the python way to apply a function to 
# every element in a list
squared_nums = [num ** 2 for num in nums]
squared_nums

[900, 1, 16, 9, 110.25, 10000]

In [84]:
# 3. FILTER
# Remove all values less than 18:
ages = [0, 3, 21, 45, 10, 97]
adults = [a for a in ages if a > 17]
adults

[21, 45, 97]

---
## Input/output

Python treats external files as any other regular data type, and so they have attributes. There are two actions to perform on these files, read and write.

The built-in function `open` creates a Python file object, which serves as a link to a file residing on your machine. After calling `open`, calling methods of the file object let you transfer data to and from the external file.

Then, `with` is a file context manager. It allows us to wrap file-processing code in a logic layer that ensures that the file will be closed automatically on exit.

### Reading and writing files from/to your computer
On your computer, open the Notepad and create a `.txt` file with at least two lines of text and name it `simple_example.txt`.

**On Google Colab**  
Click on the folder icon on the right. Go to `sample data` parent folder `content`. Click on the three points that appear on the right of `content` when you put the mouse on it. Upload `simple_example.txt`.

In [85]:
# Let's read the file into a variable:
with open('simple_example.txt') as file:
    content = file.read()

print(content)

FileNotFoundError: [Errno 2] No such file or directory: 'simple_example.txt'

In [87]:
# The file object is actually an iterator, so we can do our usual tricks:
with open('simple_example.txt') as file:
    for line in file: 
        print(line)

FileNotFoundError: [Errno 2] No such file or directory: 'simple_example.txt'

In [ ]:
# We can also read the file into a list by converiting 
# the iterator into a list directly:
with open('simple_example.txt') as f:
    content = list(f)

content[0]

Similarly, you can write data into the external file by using `file.write()`.

In [ ]:
# 'r' is to read, 'w' to write:
with open('simple_example.txt', 'r') as file_in, open('simple_example2.txt', 'w') as file_out:
    for line in file_in:
        file_out.write(line)

**On Jupyter Notebook:**  
**NOTE:** Don't run the following code on Google Colab (it will not work), try to run it in Jupyter Notebook on your computer using a path to a local file.

In [88]:
# We need to change directory
import os
os.chdir('path_to_your_directory')  # os.chdir set the current working directory to the directory of your choice

# Let's read the file into a variable:
with open('simple_example.txt') as file:
    content = file.read()

print(content)

FileNotFoundError: [WinError 2] El sistema no puede encontrar el archivo especificado: '/Users/pathtoyourdirectory'

In [ ]:
# The file object is actually an iterator, so we can do our usual tricks:
with open('simple_example.txt') as file:
    for line in file: 
        print(line)

In [ ]:
# We can also read it into a list by converiting 
# the iterator into a list directly:
with open('simple_example.txt') as f:
    content = list(f)

content[0]

Similarly, you can write data into the external file by using `file.write()`.

In [ ]:
# 'r' is to read, 'w' to write:
with open('simple_example.txt', 'r') as file_in, open('simple_example2.txt', 'w') as file_out:
    for line in file_in:
        file_out.write(line)

### Reading a file from a website

If your file is located on a website instead of a local path, then we need to proceed differently. We will use the `urllib` package. The first task is to connect to file on the website with an URL command. The main difference with respect to local files is how to read the file, and the structure of the imported object, which is no longer an iterable. If we want to split the loaded content into lines we need to proceed manually.

In [89]:
import urllib.request

url_path = "https://raw.githubusercontent.com/barcelonagse-datascience/academic_files/master/data/textfile.txt"
file_conn = urllib.request.urlopen(url_path)  # This opens the connection to the URL

raw_txt = file_conn.read().decode() # decode is used to convert to string format
raw_txt

'Why Do People Use Python?\n\nBecause there are many programming languages available today, this is the usual first question of newcomers. Given that there are roughly 1 million Python users out there at the moment, there really is no way to answer this question with complete accuracy; the choice of development tools is sometimes based on unique constraints or personal preference.\n\nBut after teaching Python to roughly 225 groups and over 3,000 students during the last 12 years, some common themes have emerged. The primary factors cited by Python users seem to be these:\n\nSoftware quality\nFor many, Python’s focus on readability, coherence, and software quality in general sets it apart from other tools in the scripting world. Python code is designed to be readable, and hence reusable and maintainable—much more so than traditional scripting languages. The uniformity of Python code makes it easy to understand, even if you did not write it. In addition, Python has deep support for more advanced software reuse mechanisms, such as object-oriented programming (OOP).\n\nDeveloper productivity\nPython boosts developer productivity many times beyond compiled or statically\ntyped languages such as C, C++, and Java. Python code is typically one-third to\none-fifth the size of equivalent C++ or Java code. That means there is less to type, less to debug, and less to maintain after the fact. Python programs also run immediately, without the lengthy compile and link steps required by some other tools, further boosting programmer speed.\n\nProgram portability\nMost Python programs run unchanged on all major computer platforms. Porting\nPython code between Linux and Windows, for example, is usually just a matter of\ncopying a script’s code between machines. Moreover, Python offers multiple options for coding portable graphical user interfaces, database access programs, web-based systems, and more. Even operating system interfaces, including program\nlaunches and directory processing, are as portable in Python as they can possibly be.\n\nSupport libraries\nPython comes with a large collection of prebuilt and portable functionality, known as the standard library. This library supports an array of application-level programming tasks, from text pattern matching to network scripting. In addition, Python can be extended with both homegrown libraries and a vast collection of third-party application support software. Python’s third-party domain offers tools for website construction, numeric programming, serial port access, game development, and much more. The NumPy extension, for instance, has been described as a free and more powerful equivalent to the Matlab numeric programming system.\n\nComponent integration\nPython scripts can easily communicate with other parts of an application, using a variety of integration mechanisms. Such integrations allow Python to be used as a product customization and extension tool. Today, Python code can invoke C and C++ libraries, can be called from C and C++ programs, can integrate with Java and .NET components, can communicate over frameworks such as COM, can\ninterface with devices over serial ports, and can interact over networks with interfaces like SOAP, XML-RPC, and CORBA. It is not a standalone tool.\n\nEnjoyment\nBecause of Python’s ease of use and built-in toolset, it can make the act of programming more pleasure than chore. Although this may be an intangible benefit, its effect on productivity is an important asset.\n\nOf these factors, the first two (quality and productivity) are probably the most compelling benefits to most Python users.\n'

In [98]:
# Let's recover lines using split and the target line break
split_txt = raw_txt.split('\n')

split_txt[0:9]

['Why Do People Use Python?',
 '',
 'Because there are many programming languages available today, this is the usual first question of newcomers. Given that there are roughly 1 million Python users out there at the moment, there really is no way to answer this question with complete accuracy; the choice of development tools is sometimes based on unique constraints or personal preference.',
 '',
 'But after teaching Python to roughly 225 groups and over 3,000 students during the last 12 years, some common themes have emerged. The primary factors cited by Python users seem to be these:',
 '',
 'Software quality',
 'For many, Python’s focus on readability, coherence, and software quality in general sets it apart from other tools in the scripting world. Python code is designed to be readable, and hence reusable and maintainable—much more so than traditional scripting languages. The uniformity of Python code makes it easy to understand, even if you did not write it. In addition, Python has deep support for more advanced software reuse mechanisms, such as object-oriented programming (OOP).',
 '']

---
## Functions

Functions take an input to produce an output through a set of operations.

### Coding functions

The definition of a function consists of several components.

* It starts with keyword `def` followed by the name of the function, or formally its *identifier*. 
* Then come the function *parameters* or *arguments*. They go into parentheses right after the function name. A function can have no parameters at all.
* The parenthesis closing the list of arguments must be followed by `:`. If there is no argument the function name is followed by `:`.
* Then goes the *body* of the function, the list of operations it has to perform. It has to be indentated.
* If the function returns a value, its ends with keyword `return` followed by the desired output.

Note that there are some restrictions on function names. It cannot begin with a number, contain special characters like !, @, #, $, \%  or be a keyword. `_` is authorized.

```
## DO NOT RUN
def function_name(input):  # Use "def", parenthesis and ":"
    operations
    return output  # End with "return"

## END DO NOT RUN
```

For example, here is a function that takes a number, and returns its square:

In [ ]:
def squared(x):
    return x**2

squared(7)

Here is a more general function that takes a number and a power and returns the number to that power:

In [ ]:
def power(x, n):
    return x ** n

power(4, 3)

Here is a function that returns the minimum and the sum of a list of numbers:

In [ ]:
def min_sum_fun(x):
    minx = x[0] if len(x) > 0 else None
    sumx = 0.0  
    for val in x: 
        if val < minx:
            minx = val
        sumx += val 
    return minx, sumx  # Notice multiple outputs (technically a tuple)

After we have defined a function, we can *call* it:

In [ ]:
m, s = min_sum_fun([1, 5, 0.3, -1])  # Destructuring
w = (m, s) = min_sum_fun([1, 5, 0.3, -1])  # You can assign directly to a tuple

print(m)
print(s)
print(w)
print(type(w))

### Catching exceptions

Things are not always working out as planned. In Python, if something goes wrong, an `Exception` is raised. Please, see [the whole list of built-in exceptions in Python](https://docs.python.org/3/library/exceptions.html). When an `Exception` is raised, the code is not read further.

For your program not to stop working when an exception occures, use the try-except construction. Python tries the operations in the `try` block, and, if exception occures, it executes the operations in the `except` block.

In [ ]:
try:
    "a" + 1
except:
    print("Ooops, I knew it was not going to work this way.")

You can specify for which exception the `except` block has to be run. Here it will run only for TypeError exceptions.

In [ ]:
try:
    "a" + 1
except TypeError:
    print("Type error occures. Something definitely went not as planned.")

Often, your try/except blocks go inside a function! (Note the double nesting)

In [102]:
def adder(a, b):
    try:
        return a + b
    except TypeError:
        return None

print(adder(5, '10'))
adder(5, 10)

None

15

### Map and filter functions

We mentionned earlier the map and filter operations on lists. There are built-in functions to do this kind of operations on iterables. `map` is a function used to apply a set of operations sequentially to every element of an iterable. This is similar to a `for`-loop but through a simpler syntax.

In [104]:
items = [1, 4, 9, 16, 25]
sqroot = map(lambda x: x**(1/2), items)  # map(function, iterable_object)
sqroot = list(sqroot)  # Put into a list
print(sqroot)

[1.0, 2.0, 3.0, 4.0, 5.0]

Note that here `map` is using a so-called `lambda` function: this is an anonymous function (it has not been defined) which takes argument `x`, and applies the operations after the semi-colon to `x`. `lambda` functions let you define simple functions on the way. Note, however, that the function applied by `map` need not be a `lambda` function.

Also, the iterable element need not even be a list of objects, it can be a list of functions:

In [103]:
def sqroot(x):
    return x**(1/2)

def squared(x):
    return x**2

functions = [sqroot, squared]  # List of functions
for i in [1, 4, 9, 16, 25]:
    results = list(map(lambda x: x(i), functions))
    print(results)

[1.0, 1]
[2.0, 16]
[3.0, 81]
[4.0, 256]
[5.0, 625]

The function `filter` returns the list of elements of an original list that satisfy a logical condition (i.e. applies a function that returns a logical value). A simple example:

In [106]:
num_list = [-1, 2, -3, 4, -5, 6]
pos_vals = filter(lambda x: x > 0, num_list)  # Same syntax as map/reducte
pos_vals = list(pos_vals)  # Needs to be coerced to a list too
print(pos_vals)

[2, 4, 6]