# Exercise 1

Write a function "only_adults" that takes as input a list of numbers and returns only the numbers larger than or equal to 18.

In [1]:
# Your code here

def only_adults(ages):
    return [age for age in ages if age >= 18]

ages = [2 ,45, 67, 18, 9]
only_adults(ages)

[45, 67, 18]

# Exercise 2

Write a function "get_only_adults" that takes as input a list of numbers, removes any `None` values from the list and returns only the numbers larger than or equal to 18.

In [2]:
# Your code here

ages = [2 ,45, None, 18, 9]

def get_only_adults(ages):
    return [age for age in ages if age and (age >= 18)] # None is considered false

get_only_adults(ages)

[45, 18]

# Exercise 3
Write a function "are_all_adults" that takes as input a list of numbers and returns True if they are all >= 18, and returns False otherwise. Is this a map, filter, or reduce?

In [21]:
# Your code here

def are_all_adults(ages):
    return sum([age>=18 for age in ages])==len(ages)

ages = [2 ,45, 67, 18, 9]
print(are_all_adults(ages))

ages = [45, 67, 18]
print(are_all_adults(ages))

# it is reduce because it reduces a collection of elements to a one element/number.

False
True

# Exercise 4
Write a function "count_nones" that takes as input a list of any type of element and returns a count of how many of those elements are of type `None`. Is this a map, filter, or reduce?

In [23]:
# Your code here

def count_nones(li):
    return sum([1 if x is None else 0 for x in li])

li = ['+', None, [3,4], None]

count_nones(li)

# For the same reason as exercise 3, this is also reduce.

2

# Exercise 5
Write a function "longest_word" that takes as input a list of strings and returns the longest string in the list.
Hint: you may need to use two "accumulators"

In [41]:
# Your code here

def longest_word(li):
    lengths = [len(word) for word in li]
    return [word for word in li if len(word)==max(lengths)]

li = ['Reus','Lleida','Girona','Barcelona']
longest_word(li)

['Barcelona']

# Exercise 6
Write a function "second_highest_number" that takes as input a list of numbers and returns the second highest one. Assume that the numbers will be unique (no duplicates). HINT: You may want to write two functions.

In [47]:
# Your code here

ages = [2 ,45, 67, 18, 9]
ages.sort()
print(ages[-2])

45